/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100 family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
/* Asterisk wildcard selector is used to over ride default styles added by the browser */
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

/*  General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /*  Generic project styles */
    color: #3a3a3a;
    font-family: Lato, sans-serif;

}
/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}
header a {
    text-decoration: none;
    color: inherit;
}
h1 {
    font-family: Calibri, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}
/* Main Content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}